@model IEnumerable<AgeApp.Models.Ballot>

@{
    ViewBag.Title = "Ballot";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Movies</h2>
<p>
    @Html.ActionLink("New Ballot", "New", "Ballot", null, new { @class = "btn btn-primary" })
</p>
<table class="table table-bordered table-hover">
    <thead>
        <tr>
            <th>Ballot</th>
            <th>Genre</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var ballot in Model) {
            <tr>
                @*<td>@Html.ActionLink(ballot.Name, "Details", "Ballot", new { id = ballot.Id }, null)</td>*@
                <td>@Html.ActionLink(ballot.Name, "Edit", "Ballot", new { id = ballot.Id }, null)</td>
                <td>@ballot.Genre.Name</td>
            </tr>
        }
    </tbody>
</table>