@model AgeApp.ViewModel.RandomViewModel
@{
    ViewBag.Title = "Random";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


@{ 
    var className = Model.Voters.Count > 5 ? "popular" : null;
}

<h2 class="@className">@Model.Ballot.Name</h2>

@if (Model.Voters.Count == 0) 
 {
    <text>No one has voted at this ballot before.</text>
 } 
else {

    <ul>
        @foreach (var voter in Model.Voters) {
            <li>@voter.Name</li>
        }
    
    </ul>

}
